body {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin: auto;
    font-size: large;
}

#sign {
    stroke-dasharray: 1554;
    stroke-dashoffset: 1554;

    animation-name: sign;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes sign {
    to {
        stroke-dashoffset: 0;
    }
}