/* TODO: think of wind */
:root {
    --font-family: 'Lato', 'Inter', 'Roboto', sans-serif;
    --time: .4s;
    --color: black;
    --anchor-color: #586bd4;
    --bg-color: white;
    --bold-weight: 700;
    --switch: "\2609" /* ☉ */
}

body {
    font-family: var(--font-family);
    text-align: center;
    margin: 0px;
    font-size: 1.25rem;
    color: var(--color);
    stroke: var(--color);
    background-color: var(--bg-color);
    transition-duration: var(--time);
    animation-timing-function: linear
}

.dark {
    --color: white;
    --bg-color: #282b30;
    --anchor-color: #57d8ff;
    --switch: "\2604" !important /* ☄ */
}

#switch::after {
    content: var(--switch); 
    font-weight: var(--bold-weight);
    font-size: larger;
    position: fixed;
    top: 3%;
    left: 2%;
    cursor: pointer
}

h1, h2 {
    font-size: 2rem
}

a { text-decoration: none; color: var(--anchor-color) }
a:hover { text-decoration: underline }
/* Mess */
#text {
    stroke-dasharray: 2046;
    stroke-dashoffset: 2046;
    animation-name: sign;
    animation-duration: 10s;
    animation-fill-mode: forwards
}

#t {
    stroke-dasharray: 58;
    stroke-dashoffset: 58;
    animation-name: sign;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards
}

#line {
    stroke-dasharray: 377;
    stroke-dashoffset: 377;
    animation-name: sign;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards
}

@keyframes sign {
    to {
        stroke-dashoffset: 0
    }
}

.content {
    padding: 20px;
    text-align: center
}

.p-1 {
    padding: 1%
}

.center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}