body {
    text-align: center;
    font-family: 'Lato', sans-serif !important;
    margin: auto;
    font-size: large;
    color: black;
    stroke: black;
    background-color: white;
    transition-duration: 1s;
    animation-timing-function: ease;
}

h1 {
    text-shadow: 0 0 1rem #fefefe;
    font-size: xx-large;
}

.dark {
    transition-duration: 1s;
    color: white;
    stroke: white;
    background-color: #282b30;
}

/* Helpers */
.content {
    padding: 24px;
    text-align: center;
}

.p-1 {
    padding: 1%;
}

.pt-1 {
    padding-top: 2%;
}

.center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#switch::after {
    content: "☄"; /* &#9732; */
    font-weight: 700;
}

.light::after {
    content: "☉" !important; /* &#9737; */
    font-weight: 700;
}

#switch {
    font-size: larger;
    position: fixed;
    top: 1.5%;
    left: 2%;
    cursor: pointer;
}

a {text-decoration: none;color: #0077ff;transition-duration: 0.5s;}
a:hover {color: gold;transition-duration: 0.5s;}

#text {
    stroke-dasharray: 2046;
    stroke-dashoffset: 2046;
    animation-name: sign;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

#t {
    stroke-dasharray: 58;
    stroke-dashoffset: 58;
    animation-name: sign;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

#line {
    stroke-dasharray: 377;
    stroke-dashoffset: 377;
    animation-name: sign;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes sign {
    to {
        stroke-dashoffset: 0;
    }
}