<!DOCTYPE html>
<html lang="{{.Site.Language.Locale}}" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="canonical" href="{{.Permalink}}">
    <meta name="author" content="Szymon Wieczorek">
    <meta name="description" content="{{.Description}}">
    <title>{{ .Site.Title }} {{ .Title }}</title>

    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ with .Params.image }}{{ . | absURL }}{{ else }}{{ "og.png" | absURL }}{{ end }}">
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
    {{ if .IsPage }}<meta property="article:published_time" content="{{ .Date.Format .Site.Params.dateFormat }}">{{ end }}

    <meta name="google" content="notranslate">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lateef:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{ (resources.Get "main.css").RelPermalink }}" rel="stylesheet" type="text/css">

    {{ with .OutputFormats.Get "rss" }}
        <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}">
    {{ end }}
  </head>
  <body>
    {{ block "main" . }}{{ end }}
    <footer>
      {{ partial "pad.html" }}
    {{ if .IsHome }}
      {{ partial "updated.html" . }}
    {{ end }}
    {{ site.Copyright }}
    </footer>
  </body>
</html>
