img {
  max-width: inherit;
  display: block;
}

.hidden {
  display: none;
}

.auto-m-l {
  margin-left: auto;
}

.auto-m-r {
  margin-right: auto;
}

.m-rl {
  margin: 0 auto;
}

/* | | Flex  */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.high-line {
  line-height: 2rem;
}

/* | | Grid */
.grid {
  display: grid;
}

.noscroll {
  overflow-x: hidden;
  overflow-y: hidden;
}

.smallcaps {
  font-variant: small-caps;
  font-size: 0.6rem;
}

.overflow-h {
  overflow-x: scroll !important;
}

.works-div {
  padding-bottom: 4rem;
}

.div-marg>div {
  margin: 6vh 0;
}

.width-90 {
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .nomobile {
    display: none;
  }
}