:root {
  --text: #0F0F0E;
  --bg: #fff6e7;
  --primary: #d22132;
  --secondary: #71a848;
  --accent: #293c1a;
}

:root[data-theme="sahara"] {
  --text: #040316;
  --bg: #d8c0a6;
  --primary: #cf955e;
  --secondary: #7e5944;
  --accent: #503220;
}

:root[data-theme="dark"] {
  --text: #fffdf5;
  --bg: #131316;
  --primary: #5841c8;
  --secondary: #65982a;
  --accent: #ffd240;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  vertical-align: baseline;

  overflow-x: hidden;
  background-color: var(--bg);
  color: var(--text);
}

.mono {
  font-family: "Courier Prime", Courier, monospace;
  font-weight: 400;
  font-style: normal;
}

.mono-bold {
  font-family: "Courier Prime", Courier, monospace;
  font-weight: 700;
  font-style: normal;
}

/* | | Links, decorations */

::selection {
  background-color: var(--text);
  color: var(--bg);
}

.home-link {
  flex-grow: 0.95;
}

.header {
  width: 100%;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
}

.header>* {
  font-size: 1rem;
}

nav>ul {
  list-style: none;
}

.navi {
  display: block;
  margin: 4vh 0 -10vh 0;
  text-align: right;
}

.navi>ul>li {
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  line-height: 2.5rem;
}

@media screen and (max-width: 580px) {
  nav.navi {
    display: none;
  }
}

h1.title {
  font-size: 10vw;
}

h2.subtitle {
  font-size: 9vw;
  margin-top: -3%;
}

.margin-updown {
  margin: 10vh 0 10vh 0;
}

.bg-swap {
  background-color: var(--text);
  color: var(--bg)
}

p {
  margin: 1.5rem 0;
}

a {
  text-decoration: none;
  color: var(--primary);

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.25em;
    text-decoration-color: var(--primary);
  }

  &:visited {
    color: var(--primary);
  }
}

section h2>a {
  color: var(--text);

  &:hover {
    text-decoration-color: var(--text);
  }

  &:visited {
    color: var(--text);
  }
}

section>h2 {
  padding: 1rem 0;
  font-size: 4rem;
}

section {
  margin-bottom: 8rem;
  padding: 0% 5%;

  &.early {
    margin-top: -8rem;
    margin-bottom: 5rem;
  }
}

.p-kebab>div {
  z-index: 2;
}

.bula {
  margin-right: 2rem;
  width: 35vw;
  rotate: 30deg;
  z-index: 0;
}

/* | | Buttons */
button {
  cursor: pointer;
  font-size: inherit;
  border: transparent;

  align-items: center;
}

.primary-btn {
  background-color: var(--primary);
  color: var(--bg);
  align-self: center;
  border-radius: 0.4rem;
  padding: 1em 0.5em;
}

.secondary-btn {
  background-color: var(--accent);
  color: var(--bg);
  align-self: center;
  border-radius: 0.4rem;
  padding: 1em 0.5em;
}

/* | | Works section */
.color-thumb::-webkit-scrollbar-thumb {
  background: var(--accent);
}

.works {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(350px, 2fr));
}

.works-item {
  border: 1px groove var(--accent);
  box-shadow: 0.3rem 0.3rem 0.3rem var(--secondary);
  padding: 1.5rem;
}

/* | | Footer */
footer {
  width: 100%;
  padding: 4rem
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 4rem;
  line-height: 2rem;
}

@media screen and (max-width: 480px) {
  .footer-links {
    flex-direction: column;
  }
}

.arrow-up {
  position: relative;
  top: 2rem;
  height: 2rem;
  width: 2rem;
}

path.goup {
  fill: var(--text);
}