:root {
    --arabic-red: #bb2020;
    --arabic-green: #009736;
    --secondary-beige: #f5f5dc;
}
/* :root[data-theme="dark"] { */
/*     --arabic-red: #000; */
/* } */

* {
    font-family: Times New Roman, courier, serif;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.3;
}

main, body {
    height: 100vh;
    width: 100%;
    background-color: var(--secondary-beige);
}

.margin {
    padding: 0 2rem;
}

/* TEXT */
a:visited {
    color: blue;
}

.h1 {
    font-size: 10em;
}

.ar {
    font-family: 'Lateef', 'Scheherazade New', serif;
    color: var(--arabic-red);
}

.ag {
    font-family: 'Lateef', 'Scheherazade New', serif;
    color: var(--arabic-green);
}

.biggie {
    font-size: 2em;
}

p {
  max-width: 38rem;

}

footer {
    padding: 0 3rem 2em 3rem;
}

h2, h3 {
    line-height: 2.5;
}

/* TEXT bottom */

/* 404.html */
div.compound > h1 {
    font-size: 14em;
    position: relative;
    z-index: 3;
}

div.compound > h2 {
    font-size: 11em;
    position: absolute;
    z-index: 2;
    top: -0.45em;
    left: 0.4em;
}

.layertop {
    position: relative;
    z-index: 10;
}
/* 404.html bottom */

span.pad {
    padding: 1.5rem 0;
    display: block;
}

#link>ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tabbed {
    padding: 1em;
    left: 5%;
    position: absolute;
    transform: translateY(-100%);
}

.tabbed:focus {
    transform: translateY(0%);
}

/* link list */
.mac a {
    font-family: Helvetica, Inter, Calibri, courier, sans-serif;
}

.mac a:hover {
    font-family: Times New Roman, courier, serif;
}

.navlist li {
    font-size: 1.5em;
}

div.navlist {
  padding-left: 1rem;
}
